.project {
  clear:both;
  padding-bottom:5px;
  border-bottom: 1px solid #ccc;
  margin-bottom:25px;
  @extend .clearfix;
  &:last-child {
    border-bottom:0;
  }
}

.project__image {
  width:100%;
  margin-bottom:10px;
}

.project__title {
  margin-bottom:15px;
}

@media screen and (min-width:$tablet-width) {
  .project__image {
    width:33%;
    float:left;
    margin-right:20px;
  }
}